services:
	-
		class: PHPStan\Reflection\Doctrine\DoctrineSelectableClassReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
	-
		class: PHPStan\Type\Doctrine\DoctrineSelectableDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStan\Type\Doctrine\EntityManagerFindDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStan\Type\Doctrine\ObjectManagerGetRepositoryDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStan\Type\Doctrine\ManagerRegistryGetRepositoryDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: Doctrine\Common\Annotations\AnnotationReader
		setup:
			- Doctrine\Common\Annotations\AnnotationRegistry::registerLoader( class_exists )
