parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Doctrine\\\\ORM\\\\Configuration\\:\\:isNativeLazyObjectsEnabled\\(\\)\\.$#"
			identifier: method.notFound
			count: 1
			path: tests/Rules/Doctrine/ORM/EntityNotFinalRuleTest.php
