includes:
	- extension.neon
	- rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	excludes_analyse:
		- */tests/*/data/*

	ignoreErrors:
		- '~^Parameter \#1 \$node \(.*\) of method .*Rule::processNode\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method PHPStan\\Rules\\Rule::processNode\(\)$~'
		-
			message: '~^Variable method call on Doctrine\\ORM\\QueryBuilder~'
			path: */src/Type/Doctrine/QueryBuilder/QueryBuilderGetQueryDynamicReturnTypeExtension.php
		-
			message: '~^Variable method call on Doctrine\\ORM\\Query\\Expr\.$~'
			path: */src/Type/Doctrine/QueryBuilder/Expr/ExpressionBuilderDynamicReturnTypeExtension.php
