includes:
	- extension.neon
	- rules.neon
	- phpstan-baseline.neon
	- phpstan-baseline-dbal-3.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
	excludePaths:
		- tests/*/data/*
		- tests/*/data-attributes/*
		- tests/*/data-php-*/*
		- tests/Rules/Doctrine/ORM/entity-manager.php

	reportUnmatchedIgnoredErrors: false

	ignoreErrors:
		-
			message: '~^Variable method call on Doctrine\\ORM\\QueryBuilder~'
			path: src/Type/Doctrine/QueryBuilder/QueryBuilderGetQueryDynamicReturnTypeExtension.php
		-
			message: '~^Variable method call on object\.$~'
			path: src/Type/Doctrine/QueryBuilder/Expr/ExpressionBuilderDynamicReturnTypeExtension.php
		-
			message: '~^Variable property access on PhpParser\\Node\\Stmt\\Declare_\|PhpParser\\Node\\Stmt\\Namespace_\.$~'
			path: src/Type/Doctrine/QueryBuilder/QueryBuilderMethodDynamicReturnTypeExtension.php
