rules:
	- PHPStan\Rules\Doctrine\ORM\DqlRule
	- PHPStan\Rules\Doctrine\ORM\MagicRepositoryMethodCallRule
	- PHPStan\Rules\Doctrine\ORM\QueryBuilderDqlRule
	- PHPStan\Rules\Doctrine\ORM\RepositoryMethodCallRule
