includes:
	- ../../../extension.neon
	- ../../../rules.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
	doctrine:
		objectManagerLoader: entity-manager.php
		reportDynamicQueryBuilders: true
		queryBuilderClass: PHPStan\DoctrineIntegration\ORM\QueryBuilder\CustomQueryBuilder
