includes:
	- ../../../extension.neon
	- ../../../rules.neon

parameters:
	doctrine:
		reportDynamicQueryBuilders: true
		queryBuilderClass: PHPStan\DoctrineIntegration\ORM\QueryBuilder\CustomQueryBuilder

	bootstrapFiles:
		- ../../../tests/orm-3-bootstrap.php
