includes:
	- ../../../extension.neon
parameters:
	doctrine:
		metadata:
			PHPStan\DoctrineIntegration\ORM\EntityManagerDynamicReturnCustomRepositoryAnnotations:
				type: annotation
				paths: []
			PHPStan\DoctrineIntegration\ORM\EntityManagerDynamicReturnCustomRepositoryXml:
				type: xml
				paths:
					- tests/DoctrineIntegration/ORM/mappings/
			PHPStan\DoctrineIntegration\ORM\EntityManagerDynamicReturnCustomRepositoryYml:
				type: yml
				paths:
					- tests/DoctrineIntegration/ORM/mappings/
