includes:
	- ../../../extension.neon
	- ../../../rules.neon

parameters:
	doctrine:
		reportDynamicQueryBuilders: true
		queryBuilderClass: PHPStan\DoctrineIntegration\ORM\QueryBuilder\CustomQueryBuilder
